html{
	background: url(../img/fondo.jpg);
}


body{

	min-width: 320px !important;
	margin: 10%;
	margin-top: 0 !important;
	background-color: rgba(1,1,1,0.6);
}
.slogan{
	text-align: right;
}

.titulo-slogan{
	color: white;
}

.boton-buscar{
	background-color: rgba(6, 45, 255, 1);

}

.icono-buscar{
	color: white;
}

.menus-item{
	background-color: transparent !important;
	border-color: orange;
	color: orange;
}

.mini-img{
	height: 130px;
	width: 68px;
	
}

.secondary{
	background-color: rgba(173, 216, 230, 0.4) !important;
}

.publi-text{
	color: white !important;
}

.img-publi{
	min-width: 100%;
	
}

.enviar{

	background-color: orange;
}

.comentario{
	background-color: transparent !important;
	padding: 2px !important;
	margin-top: 13px;
	border-color: white !important;
	margin: 0 0 0.3rem 0 !important;
}

.texto-area{
	margin-bottom: 0px !important;
}

.historial{
	margin-left: 7px;
}